.cover {
  background: #182b3a;
  padding-top: 52px;
  padding-bottom: 52px;
  margin-top: 50px;
}
.counsel {
  padding: 34px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 15.75px;
  background: #fff;
  width: 29%;
}
.coun {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
