.mainNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
}
#whiteFixed{
    position: fixed;
    margin-left: 74px;
}
.navLinks{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    color: #1E3354;
    ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}
.loginDiv{
    border: 1px solid #285FE7;
    padding: 
    11px 34px 11px 34px;
    border-radius: 5px;
}
.loginDiv p{
    color: #285FE7;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}
.white{
    background: white;
}
@media screen and (max-width: 990px) {

.navLinks{
    display: flex !important;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    color: #1E3354;
    ;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    flex-direction: column;
}
.mainNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 18px;
}
}
