body {
  margin: 0px;
}
@font-face {
  font-family: "Inter";
  src: url("/Images/Inter/Inter-VariableFont_slnt,wght.ttf");
  font-weight: 500;
  font-style: normal;
}

p {
  font-family: Inter;
  font-style: normal;
}
h1 {
  font-family: Inter;
  font-style: normal;
}
a {
  font-family: Inter;
  font-style: normal;
}
