.btn {
  padding: 21px 63px;
  color: #fff;
  border-radius: 8px;
  border: 0.5px solid var(--Primary-Color, #285fe7);
  background: var(--Primary-Color, #285fe7);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
